Source: libonionrequests
Priority: optional
Maintainer: Jason Rhinelander <jason@oxen.io>
Build-Depends:
    debhelper-compat (= 11),
    liboxenc-dev,
    liboxenmq-dev,
    libssl-dev,
    libspdlog-dev,
    nlohmann-json3-dev,
    pybind11-dev,
    python3-pybind11,
    python3-setuptools,
    python3-all-dev,
    dh-python,
    cmake,
    pkg-config,
    libcurl-ssl-dev
Standards-Version: 4.4.1
Section: python
Homepage: https://github.com/oxen-io/oxen-pyoxenc

Package: python3-pyonionreq
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Oxen project onion request utilities (Python wrapper)
 This is the Python wrapper around libonionrequests, providing various
 utilities for encoding and decoding onion requests as used by Session and
 oxen-storage-server.
